In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [4]:
df = pd.read_csv('03_tennisai_data.csv')
df

,match_id,frame_pos,p1,p1_sets,p1_games,p1_points,p1_set1,p1_set2,p1_set3,p1_set4,...,lob,rally_length,rally_1-4,rally_5-8,rally_9+,expected_ballhit_count,detected_ballhit_count,game_id,point_description,strokes_timestamps
0,3,350,djokovic,0,0,0,-1,-1,-1,-1,...,0,1,1,0,0,1,1,0,"1st serve wide, ace.",[26.192]
1,3,975,djokovic,0,0,0,-1,-1,-1,-1,...,0,2,1,0,0,3,3,0,"1st serve wide, fault (net). 2nd serve to body...","[41.239, 49.412, 50.341]"
2,3,1425,djokovic,0,0,0,-1,-1,-1,-1,...,0,3,1,0,0,3,3,0,1st serve wide; forehand return down the middl...,"[65.945, 66.688, 67.802]"
3,3,1850,djokovic,0,0,15,-1,-1,-1,-1,...,0,1,1,0,0,1,2,0,"1st serve down the T, ace.","[85.264, 86.378]"
4,3,2275,djokovic,0,0,15,-1,-1,-1,-1,...,0,3,1,0,0,4,4,0,"1st serve wide, fault (net). 2nd serve down th...","[101.053, 109.97, 110.899, 112.385]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,3,438150,djokovic,2,12,4,7,1,7,4,...,0,11,0,0,1,12,11,67,"1st serve wide, fault (net). 2nd serve down th...","[17550.756, 17559.487, 17560.416, 17561.53, 17..."
418,3,439425,djokovic,2,12,4,7,1,7,4,...,0,2,1,0,0,3,3,67,"1st serve down the T, fault (wide). 2nd serve ...","[17638.063, 17646.608, 17647.537]"
419,3,441375,djokovic,2,12,4,7,1,7,4,...,0,3,1,0,0,3,3,67,1st serve down the T; forehand return down the...,"[17684.689, 17685.246, 17686.918]"
420,3,442275,djokovic,2,12,5,7,1,7,4,...,0,13,0,0,1,14,12,67,"1st serve to body, fault (net). 2nd serve wide...","[17714.782, 17729.643, 17730.572, 17731.872, 1..."
421,3,443750,djokovic,2,12,6,7,1,7,4,...,0,3,1,0,0,4,12,67,"1st serve down the T, fault (long). 2nd serve ...","[17777.197, 17787.043, 17788.343, 17790.015, 1..."

1 second = 25 frames

point_duration[i] = vid_second[i+1] - vid_seconds[i]

In [26]:
df['breakpoint'].tail(60)

362    0
363    0
364    0
365    0
366    0
367    0
368    0
369    0
370    0
371    0
372    0
373    0
374    0
375    0
376    0
377    0
378    0
379    0
380    0
381    0
382    0
383    0
384    0
385    0
386    0
387    0
388    0
389    0
390    0
391    0
392    0
393    0
394    0
395    0
396    0
397    0
398    0
399    0
400    0
401    2
402    0
403    0
404    0
405    2
406    0
407    0
408    0
409    0
410    0
411    0
412    0
413    0
414    0
415    0
416    0
417    0
418    0
419    0
420    0
421    0
Name: breakpoint, dtype: int64